.content {
    max-width: 46rem;
    margin: auto;
    background: var(--gray-400);
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
}

.content input {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    appearance: none;
    border: 3px solid var(--blue-300)
}

.content input:checked {
    background-color: var(--blue-dark-600); 
    background-image: url("../assets/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.8rem;
    border: var(--blue-dark-600);
}

.content .label {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem; 
    margin-right: 8px; 
}



.content1 {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray-100);
}

.delete {
    color: var(--gray-300);
    cursor: pointer;
}